<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <div>
      <fieldset>
        <p>This is my first website :)</p><br>
        <form action="/" method="post">
          <input name="city" type="text" placeholder="Enter a City" required>
          <input type="submit">
          
        </form>

        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>